body {
  background-color: #44a;
  width: 1280px;
  height: 500px;
  z-index: 10; }

* {
  box-sizing: border-box;
  text-decoration: none; }

div {
  background-color: #00a;
  color: #fff; }

p {
  text-indent: 1em; }
